---
layout: default
title: All Blog Posts
---


<h1>{{ page.title }}</h1>
<ul class="posts">

	{% for post in paginator.posts %}
		<li>
			<span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				{{ post.excerpt | strip_html }}
		</li>
	{% endfor %}
</ul>


{% if paginator.total_pages > 1 %}
<div class="pagination">
	<ul>
{% if paginator.previous_page %}
		<a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Previous</a> ---- 
{% endif %}

{% if paginator.next_page %}
		-- <a href="/blog/page{{ paginator.next_page }}">Next</a>
{% endif %}
	</ul>
</div>
{% endif %}